.login-page {
    display: flex;
}

.left-side-image {
    width: 50%;
}

img {
    width: 100%;
    height: 650px;
}

.right-side-login-form {
    margin: auto;
}

.div2 div {
    margin: 10px 10px 10px 0px;
}

form.div {
    margin: 10px 10px 10px 10px;
}