.demo {
    text-transform: uppercase;
    font-family: cursive;
}

main {
    width: 70%;
    display: inline-block;
}

aside {
    display: inline-block;
    width: 21%;
    vertical-align: top;
    margin-top: 30px;
}

.widget {
    border-top: 4px solid black;
}

.widget input {
    display: block;
    padding: 4px;
}

button[type="submit"] {
    background-color: black;
    color: white;
    font-size: 20px;
    margin-top: 6px;
    padding: 5px;
}